Fabric==1.10.0
Flask==0.10.1
Flask-SQLAlchemy==2.0
Jinja2==2.7.2
MarkupSafe==0.21
MySQL-python==1.2.5
SQLAlchemy==0.9.7
Werkzeug==0.9.4
cssselect==0.9.1
ecdsa==0.11
gunicorn==18.0
itsdangerous==0.24
lxml==3.3.5
paramiko==1.15.0
pycrypto==2.6.1
requests==2.2.1
wsgiref==0.1.2
