{% if article %}
    <div class="article">
        <div class="article-header">
            <div class="article-title">{{ article.title.decode('unicode_escape') }}</div>
            <div class="article-meta">
                <span class="hit">{{ article.hit }} 번째 조회</span>
                <a class="permalink" href="{{ url_for('material') }}#article@{{ article.id }}" target="_blank">
                    {{ article.last_view|pretty_date }}
                </a>
            </div>
        </div>
        <div class="article-body">
            <div class="article-writer">Written by {{ article.author.decode('unicode_escape') }}</div>
            <div class="article-content">
                {{ article.content|safe|ignore_nl }}
            </div>
        </div>
    </div>
{% else %}
<div class="content">
글을 찾을 수 없습니다.
</div>
{% endif %}