<!DOCTYPE html>
<html>
<head>
    <title>Naver Cafe Viewer</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div id="wrap">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a href="#" class="pure-menu-heading">Naver Cafe Viewer</a>
        </div>

        <div class="form">
            <form class="url pure-form" action="{{ url_for('parse') }}" method="post" onsubmit="return false;">
                <label>
                    <input class="pure-input-1" type="text" placeholder="http://cafe.naver.com/..." name="url"
                           value="{% if url %}{{ url }}{% else %}http://cafe.naver.com/linksjeansmania/90001{% endif %}"/>
                </label>
            </form>
        </div>

        <div class="content">
            <h1 class="title"></h1>
            <div class="meta">
                <span class="author"></span>
            </div>
            <div class="body"></div>
        </div>
    </div>
    {% if url %}<script>crawl_article($('form.url'));</script>{% endif %}
</body>
</html>