<!DOCTYPE html>
<html>
<head>
    <title>Naver Cafe Viewer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='material.css') }}"/>
</head>
<body>
    <div class="header">
        <span class="title" data-root="{{ url_for('material') }}">Naver Cafe Viewer</span>
        <span class="writer">by.
            <a class="link" href="//github.com/jeyraof/naver-cafe-viewer" target="_blank">@jeyraof</a>
        </span>

        <div class="new">
            <form id="new-article" action="{{ url_for('new_article') }}">
                <input type="text" name="link" placeholder="http://"/>
            </form>
        </div>
    </div>
    <div class="layout">
        <div class="article-list-box">
            <ul class="article-list">
                {% for article in article_list %}
                <li class="article-list-item">
                    <a class="article-link" href="#article@{{ article.id }}">
                        {% if article.thumbnail %}
                        <div class="thumbnail">
                            <img src="{{ article.thumbnail }}" alt="{{ article.title.decode('unicode_escape') }}"/>
                        </div>
                        {% endif %}
                        <div class="text">
                            <span class="title">
                                {{ article.title.decode('unicode_escape') }}
                                <span class="end-white"></span>
                            </span>
                            <span class="writer">
                                By {{ article.author.decode('unicode_escape') }}
                                <span class="end-white"></span>
                            </span>

                            <span class="hit">{{ article.hit }} 번째 조회</span>
                            <span class="view-at">{{ article.last_view|pretty_date }}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="content-box">
            내용
        </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='material.js') }}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-41232846-2', 'monodiary.net');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
    <script type="text/javascript">
    WebFontConfig = {google: { families: [ 'Roboto:400,300,500:latin' ] }};
    (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
    })();
    </script>
    <script>ncvRoute();</script>
</body>
</html>